#competencies-container{
    height: 150vh;
    zoom: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

#list-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#languages{
    padding: 50px;
    width: fit-content;
    border-radius: 1px;
    flex-direction: column;
    position: relative;
    transform: translateY(100px);
    align-items: center;
}
#seperator{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
#projects-section{
    padding: 50px;
    width: fit-content;
    border-radius: 1px;
    flex-direction: column;
    position: relative;
    transform: translateY(100px);
    align-items: center;
}
#projects-section > ol > li{
    margin: 10px;
    font-size: large;
    list-style: outside;
    border-radius: none;
    font-style: bold;

}

#experiences-section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#languages > ol{
    width: fit-content;
    text-align: center;
    display:inline-block;
    padding: 5px;
    font-size: large;
    list-style-type: none;
}
#languages > ol >li{
    padding: 5px;
}

#experiences-section > div > ol > li{
    list-style-type:circle;;
    padding-top: 5px;
   align-items: flex-start ;
}

#svg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#android{
    position: relative;
}
#python{
    position: relative;
}
#javascript{
    position: relative;
}