#home-container{
    height: 100vh;
    display: flex;
}
#text-element{
    display: flex;
    flex-direction: column;
    position: relative;
    vertical-align: middle;
    transform: translateY(50vh);
    margin-left: auto;
    margin-right: auto;

}
#main-heading{
    position: relative;
    display: block;
    transform: translateY(100px);
    padding: 10px;
    font-size: large;
    
}
#sub-heading{
    display: block;
    position: relative;
    transform: translateY(120px);
    padding: 10px;
    font-size: medium;
}
#picture-container{
    transform: translateY(50vh);
    margin-left: auto;
    margin-right: auto;
}
#main-image{
    position: flex;
    zoom: 20%;
    flex: 1;
}