#App-bar{
    height: 100px;
    background-color: black;
    font-style: italic;
}
#hamburger-menu{
    color: white;
    border-radius: 1px;
    box-sizing:border-box;
    position: absolute;
    background-color:rgba(255,255,255,.8);
    transform: translateX(-100px);
}